__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/

notebooks/.ipynb_checkpoints/

data/

.env

logs/
*.log

*.dump

*.egg
*.egg-info/
dist/
build/

frontend/.streamlit/

.DS_Store

.vscode/

docs/demo_video.mp4

.idea/
